{% extends 'base.html' %}

{% block nav-links %}
    <div class="col-sm" style="margin-left: 650px;">
    {% block nav-btn_out %}
    <a href="{% url 'login' %}" class="btn btn-outline-danger btn-dark btn-sm text-light" id="btn-nav" title="Sair">&nbsp;<i class="fa fa-power-off fa-2x text-light"></i></a>
        <a href="{% url 'add_registro' %}" class="btn btn-outline-success btn-dark btn-sm text-light" id="btn-nav" title="Adicionar Registro">&nbsp;<i class="fa fa-paper-plane fa-2x text-light"></i></a>
    {% endblock %}
     </div>

{% endblock nav-links %}

{% block content %}
           <!--username-->
<div style="margin-top: 2px">
    <table class="table table-sm">
        <thead class="table-secondary">
            <tr>
                <th style="width: 98%; text-align: center">***  <i class="fas fa-user-plus"></i> <stong class="text-dark ">User:</strong>
                     <span class="text-danger ">{{user.get_username}}</span> ***<th>
            </tr>
        </thead>
    </table>
</div>
<!--<h2 style="text-align: center;">CONTROL DE PRODUTOS</h2>
==========-->
<div class="container text-center w-size timer_over mt-2 mb-2">
    <div class="row mt-4 gx-2">
        <!--Dias-->
        <div class="col-xl-3 col-sm-3 col-3 p-1">
          <div class="card border-0">
              <button class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <span class="f-size1" id="h">Total Entradas</span><br>
                  <span class="f-size2">{{total_products}}</span>
                  <br>
              </button>
          </div>
      </div>

        <!--modal-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Total Entradas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--script com dados de produtos-->
        <div id="product-list-container"></div>
        <table class="table">
          <thead>
              <tr style="text-align: center;">
                  <th><strong>Código</strong></th>
                  <th><strong>Nome</strong></th>
                  <th><strong>Tipo de trabalho</strong></th>
                  <th><strong>Valor de trabalho</strong></th>
                  <th><strong>Descrição</strong></th>
              </tr>
          </thead>
          <tbody>
              {% for product in products %}
              <tr>
                  <td>{{ product.id }}</td>
                  <td>{{ product.nome }}</td>
                  <td>{{ product.Tipo_De_trabalho }}</td>
                  <td>{{ product.valor_trabalho }}</td>
                  <td>{{ product.assunto }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success">***</button>
      </div>
    </div>
  </div>
</div>
        <!--END Modal-->

        <!--horas-->
        <div class="col-xl-3 col-sm-3 col-3 p-1">
          <div class="card border-0">
              <button class="btn btn-warning btn-lg"  data-bs-toggle="modal" data-bs-target="#staticBackdr">
                  <span class="f-size1" id="m">Trabalhos Pendentes</span><br>
                  <span class="f-size2">{{ total_pendentes }}</span><br>
              </button>
          </div>
      </div>

      <div class="modal fade" id="staticBackdr" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Trabalhos Pendentes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Codigo</th>
                                <th>Nome</th>
                                <th>Tipo de Trabalho</th>
                                <th>Notas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                              <td>{{ product.id }}</td>
                                <td>{{ product.nome }}</td>
                                <td>{{ product.Tipo_De_trabalho }}</td>
                                <td style="max-width: 200px; white-space: nowrap;">
                                    <span id="assunto_{{ product.id }}">{{ product.assunto }}</span>
                                    <br>
                                    <span id="assunto_full_{{ product.id }}" style="display: none;">{{ product.assunto }}</span>
                                    <a href="#" onclick="toggleAssunto({{ product.id }}); return false;" id="toggle_assunto_{{ product.id }}">Ler mais</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-success">***</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleAssunto(productId) {
            var assunto = document.getElementById("assunto_" + productId);
            var assuntoFull = document.getElementById("assunto_full_" + productId);
            var toggleAssunto = document.getElementById("toggle_assunto_" + productId);

            if (assunto.style.display === "none") {
                assunto.style.display = "inline";
                assuntoFull.style.display = "none";
                toggleAssunto.innerHTML = "Ler mais";
            } else {
                assunto.style.display = "none";
                assuntoFull.style.display = "inline";
                toggleAssunto.innerHTML = "Ler menos";
            }
        }
    </script>



        <!--minutos-->
        <div class="col-xl-3 col-sm-3 col-3 p-1">
            <div class="card border-0">
                <button class="btn btn-success btn-lg"  data-bs-toggle="modal" data-bs-target="#staticBackdr">
                    <span class="f-size1" id="m">Trabalhos Finalizados</span><br>
                    <span class="f-size2">{{total_concluidos}}</span><br>
                </button>
            </div>
        </div>

        <div class="modal fade" id="staticBackdr" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Trabalho Finalizado</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                      <button type="button" class="btn btn-success">***</button>
                  </div>
              </div>
          </div>
      </div>


        <!--segundos-->
        <div class="col-xl-3 col-sm-3 col-3 p-1">
            <div class="card border-0">
                <button class="btn btn-danger btn-lg">
                    <span class="f-size1 fa-beat-fade" id="s"> Total Saidas </span><br>
                    <span class="f-size2">{{total_entregues}}</span>
                </button>
            </div>
        </div>
    </div>
</div> <!--END //container-->


<div class="container-fluid mt-3" style="width:90%">
    <!--global search-->
    <!-- Global search -->
<form>
  <div class="input-group input-group-sm mb-3">
      <input id="search-input" type="text" class="form-control input-sm" placeholder="Search" value="#">
      <button id="search-button" class="btn btn-secondary" title="Search"><i class="fas fa-search"></i></button>
      <!-- Refresh button -->
      <a href="{% url 'index' %}" class="btn btn-dark" style="margin-left: 3px" title="Refresh"><i class="fas fa-sync"></i></a>
  </div>
</form>

<!-- Buttons to select the number of rows -->
<div class="btn-group" role="group">
  <div class="dropdown">
      <button id="dropdownMenuButton" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Listar
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#" id="btn-25">25</a></li>
          <li><a class="dropdown-item" href="#" id="btn-45">45</a></li>
          <li><a class="dropdown-item" href="#" id="btn-60">60</a></li>
      </ul>
  </div>
</div>

<!-- Table of messages -->
<div class="col-lg-12">
  <div style="margin-top: 5px">
      <table class="table table-sm text-center w-80">
          <thead class="table-success">
              <tr>
                  <th style="width: 10%">Codigo</th>
                  <th style="width: 20%">Cliente</th>
                  <th style="width: 18%">Telefone</th>
                  <th style="width: 20%">Tipo de trabalho</th>
                  <th style="width: 8%">Quantidade</th>
                  <th style="width: 12%">Valor</th>
                  <th style="width: 12%">Data</th>
                  <th style="width: 10%">Status</th>
                  <th style="width: 10%">Ação</th>
              
              </tr>
          </thead>
          <!-- Data from backend -->
          <tbody id="table-body">
              {% for product in products %}
              <tr>
                  <td><strong>{{ product.id }}</strong></td>
                  <td>{{ product.nome }}</td>
                  <td>{{ product.telefone }}</td>
                  <td>{{ product.Tipo_De_trabalho }}</td>
                  <td>{{ product.quantidade }}</td>
                  <td>{{ product.valor_trabalho }}</td>
                  <td>{{ product.data_de_criacao|date:"d/m/y" }}</td>
                  <td class="text-primary"><strong>{{ product.status }}</strong></td>
                  <td>
                      <form method="POST" action="{% url 'delete_product' product.id %}">
                          {% csrf_token %}
                          <button class="btn btn-danger btn-sm btn-Action" title="Delete Product">
                              <i class="fas fa-trash-alt"></i>
                          </button>
                      </form>
                  </td>
                  <td>
                      {% if product.status == 'Pendente' %}
                      <a href="{% url 'edit_product' product.id %}" class="btn text-success btn-sm btn-action" style="background-color: #2e856e;" title="Edit Product">
                          <i class="fas fa-edit text-light"></i>
                      </a>
                      {% endif %}
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>



<script>
  // Function to filter the table rows based on the search input
  function searchTable() {
      var input = document.getElementById('search-input');
      var filter = input.value.toUpperCase();
      var tableBody = document.getElementById('table-body');
      var rows = tableBody.getElementsByTagName('tr');

      for (var i = 0; i < rows.length; i++) {
          var cells = rows[i].getElementsByTagName('td');
          var found = false;

          for (var j = 0; j < cells.length; j++) {
              var cell = cells[j];
              if (cell) {
                  var textValue = cell.textContent || cell.innerText;
                  if (textValue.toUpperCase().indexOf(filter) > -1) {
                      found = true;
                      break;
                  }
              }
          }

          rows[i].style.display = found ? '' : 'none';
      }
  }

  // Add a click event to the search button
  var searchButton = document.getElementById('search-button');
  searchButton.addEventListener('click', searchTable);

  // Function to show the selected number of rows in the table
  function showSelectedRows(numRows) {
      var tableBody = document.getElementById('table-body');
      var rows = tableBody.getElementsByTagName('tr');

      for (var i = 0; i < rows.length; i++) {
          rows[i].style.display = i < numRows ? '' : 'none';
      }
  }

  // Add click events to the buttons to show the selected number of rows
  var btn25 = document.getElementById('btn-25');
  var btn45 = document.getElementById('btn-45');
  var btn60 = document.getElementById('btn-60');

  btn25.addEventListener('click', function() {
      showSelectedRows(25);
  });

  btn45.addEventListener('click', function() {
      showSelectedRows(45);
  });

  btn60.addEventListener('click', function() {
      showSelectedRows(60);
  });
</script>


</div><!-- ==== End === //  container-->



    {% endblock content %}
